body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
  color: white;
  background: gray;
}

#top-bar {
  margin-top: 10px;

  #connection-status {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    p {
      margin: 0;
    }

    span {
      color: red;

      &.connected {
        color: lightgreen;
      }
    }
  }

  #battery {
    position: absolute;
    left: 10px;
  }

  #altitude {
    position: absolute;
    right: 10px;
  }
}

.backgrounded {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;

  &.square {
    padding: 20px;
  }

  &.rectangle {
    padding: 10px 30px;
  }
}


#speed {
  width: 250px;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

  #slider {
    border: 1px solid white;
    background-color: transparent;

    span {
      background-color: black;
      border: 1px solid white;

      &:focus {
        outline: 0;
      }

      &.ui-state-active {
        background-color: black;
        border: 1px solid white;
      }
    }

    div.ui-slider-range {
      background-color: white;
    }
  }
  p {
    margin-top: 0;
  }
}

#wifi {
  position: absolute;
  top: 70px;
  left: 10px;

  #wifiStrength {
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    border: 1px solid white;
    background-color: transparent;

    div.ui-slider-range {
      background-color: black;
      border-radius: 0;
    }

    span {
      display: none;
    }
  }
}

#chart {
  position: absolute!important;
  bottom: 0 !important;
  width: 98vw;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: gray !important;
}

#chart.c3 {
  line, path, text {
    stroke: white;
    color: white
  }
}

#filesPopup, #wifiPopup {
  width: 700px;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border-radius: 4px;
  color: black;

  h1, h2, h3, p, button {
    font-weight: 300;
  }

  h1 {
    text-align: center;
    margin-top: 0;
  }

  .row {
    margin-bottom: 40px;
    overflow: auto;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      margin-top: 5px;
    }

    p {
      margin: 0;
    }

    #fileInfo {
      float: left;
    }

    #transferInformation {
      float: right;

      button {
        margin-left: 10px;
        background: transparent;
        border: 1px solid black;
        font-size: 20px;
        height: 120px;
        width: 120px;
        transition: width 1s;
        cursor: pointer;
        border-radius: 50%;

        &:focus {
          outline: none;
        }

        &.delete {
          border: 1px solid red;
          color: red;
        }
      }
      
      .selectBox {
        display: none;
      }

      .circleProgressBar {
        width: 120px;
        height: 120px;
        position: relative;
        display: none;
        margin-left: 10px;
        float: right;
      }
    }
  }
}

#wifiPopup {
  display: none;
}

#droneFilesButton {
  text-decoration: none;
  position: absolute;
  color: white;
  right: calc((((50% - 407px) / 2) + 177px) - 85px);
  border: 1px solid white;
}

button:focus {
  outline: none;
  cursor: pointer;
}