#leapGrid, #calibrationGrid {
  width: 400px;
  height: 350px;
  border: 1px solid white;
  float: left;
  position: absolute;

  #handDot, #calibrationDot {
    width: 5px;
    height: 5px;
    background-color: white;
  }

  .zone {
    position: absolute;
    border: 1px solid white;
  }

  #left, #right {
    height: 100%;
    transition: width 3s;
    width: 200px;
  }

  #forward, #backward {
    width: 100%;
    transition: height 3s;
    height: 175px;
  }

  #left {
    left: 0;
  }

  #right {
    right: 0;
  }

  #forward {
    top: 0;
  }

  #backward {
    bottom: 0;
  }
}

#calibrate {
  position: absolute;
  left: 50%;
  border: 1px solid white;
  padding: 10px 30px;
  transform: translateX(-50%);
  top: 80px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);

  &:focus {
    outline: 0;
  }
}

#handStatus {
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translateX(-50%);
  width: 480px;
}

#handHeight {
  float: right;
  position: relative;
  padding-right: 30px;

  #heightSlider {
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    background-color: transparent;

    div.ui-slider-range {
      background-color: white;
      border-radius: 0;
    }

    span {
      display: none;
    }
  }

  .movementIndicator {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: white;
    left: 18px;
  }

  #upIndicator {
    top: 0;
    transition: top 3s;
  }

  #downIndicator {
    bottom: 0;
    transition: bottom 3s;
  }
}

#calibrationPopup {
  width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: black;

  h2 {
    margin: 0;
  }

  button {
    margin: 0 auto;
    font-size: 20px;
    background: black;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    
    &:hover {
      cursor: pointer;
    }
  }

  #calibrationSlider {
    width: 400px;
    margin: 20px auto;

    border: 1px solid black;

    span {
      display: none;
    }

    div.ui-slider-range {
      background-color: black;
      border-radius: 0;
    }
  }
  
  #calibrationComplete {
    display: none;
  }
}

#calibrationGridContainer {
  overflow: auto;

  #calibrationGrid {
    transform: none;
    float: left;
    position: relative;
    left: 0;
    margin-left: 50px;
    border: 1px solid black;

    #calibrationDot {
      background-color: black;
    }
  }

  img {
    float: right;
    width: 500px;
  }
}

#speed {
  top: 155px;
}
